body {
  font-family: "Roboto Mono", Arial, sans-serif;
  color: #333;
}

.site {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 550px;
  margin: auto;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  font-weight: normal;
  color: #333;
  background: #d2fafb;
  text-decoration: none;
  padding: 0 3px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

a:hover {
  color: #333;
  background: #86eae2;;
  text-decoration: none;
}


