body {
  font-family: "Roboto", Arial, sans-serif;
}

a {
  font-weight: normal;
  color: #212529;
  text-decoration: none;
  box-shadow: inset 0 -7px 0 0 rgba(25, 150, 193, 0.28);
}
a:hover {
  color: #212529;
  text-decoration: none;
  box-shadow: inset 0 -7px 0 0 rgba(25, 150, 193, 0.4);
}

a:focus {
  /* outline: 1px; */
}

h1 {
  font-size: 50px;
}

.info {
  font-size: 18px;
  /*margin-bottom: 3rem;*/
}

.project-list {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding-left: 0;
  list-style: none;
}
