body {
  font-family: "Roboto Mono", Arial, sans-serif;
  color: #333;
}

.site {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 550px;
  margin: auto;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  font-weight: normal;
  color: #333;
  text-decoration: none;
  padding: 0 3px;
  box-shadow: inset 0 -7px 0 0 #c1f3f5;
}

a:hover {
  font-weight: normal;
  color: #333;
  text-decoration: none;
  padding: 0 3px;
  box-shadow: inset 0 -7px 0 0 #bfd9da;
}


